/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

header {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
}

#logo {
    height: 19px;
    width: 61.09px;
    margin-top: 25px;
}

nav {
    display: flex;
    align-items: center;
    gap: 68px;
    height: auto;
    margin-bottom: 40px;
}

/*pour faire apparaitre la barre au survol des liens*/
nav a {
    padding: 16px 0px;
    border-top: 2px solid transparent;
    text-align: center;
}

nav a:hover {
    color: #0065FC;
    border-color: #0065FC;
}

/*pour limiter l'espace entre <h1> et <p>*/
.promesse h1 {
    margin: 0;
    padding: 0;
}

/******Formulaire*******/
form {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*icone localisation de barre de recherche*/
i.fa-solid.fa-location-dot {
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    width: 50px;
    height: 49px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center
}

/*Bouton recherche desktop ou mobile*/
.search-button {
    background-color: #0065FC;
    color: white;
    font-weight: bolder;
    border-radius: 0px 15px 15px 0px;
    padding: 15px 16px 15px 16px;
}

.mobile-search-button {
    display: none;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 10px;
}

i.fa-solid.fa-magnifying-glass {
    height: 49px;
    width: 49px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"]{
    border: transparent;
    font-weight: bolder;
    text-align: center;
}

/*Barre de filtres*/
.filtersBar .filter-title {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-weight: bolder;
    margin-bottom: 25px;
}

.filtersBar button {
    border-radius: 50px;
    border:1px solid #D9D9D9;
    font-weight: bolder;
    padding: 4px 25px 4px 25px;
    margin-right: 10px;
    background-color: white;
    height: 50px;
}

.filtersBar button:hover {
    background-color: #DEEBFF;
}

/*icone informations disponibilité*/
i.fa-solid.fa-info  {
    color: #0065FC;
    border: solid 1px;
    border-radius: 50%;
    border-color: #D9D9D9;
    padding: 5px 10px 5px 10px;
}

.availability {
    margin-bottom: 40px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements à Marseille ***********/
.hebergements-marseille {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    margin-right: 33px;
    box-shadow: 5px 5px 5px #F2F2F2;
}

.hebergements-cards img {
    height: 124px;
    border-radius: 20px 20px 0 0;
}

/*lien pour "afficher plus" en fin de cards hebergements*/
.afficherPlus {
    font-weight: bolder;
    display: flex;
    margin-top: 20px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*******Activités*******/

.activities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: fit-content;
    gap: 20px;
}

.activities-marseille {
    width: auto;
    margin-top: 30px;
}

.activities-cards {
    max-width: auto;
}
.section-title {
    margin-bottom: 30px;
}

.card-activities {
    box-shadow: 5px 5px 5px #F2F2F2;
    border-radius: 20px;
}

.card-activities img{
    height: 380px;
    width: 297.5px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/********footer********/
.footer-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    background-color: #F2F2F2;
    padding: 20px;
    margin-top: 60px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements-marseille {
        width: 100%;
        margin-top: 50px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
    }

    .main-container header {
        flex-direction: column;
        width: 100%;
    }
/*Pour centrer le logo*/
    .logo {
        display: flex;
        justify-content: center;
    }

/*Changement de la place de la barre au :hover*/
    nav a {
        border-top: none;
        border-bottom: 2px solid transparent;
    }

/*Repositionnement des liens*/
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

/*Changement du bouton recherche*/
    .search-button {
        display: none;
    }

    .mobile-search-button {
        display: flex;
    }

/*Barre de filtres*/
    .filtersBar .filter-title {
       display: inline;
        }

    .filtersBar {
            display: grid;
            grid-template-columns: 1fr 1fr;            
        }

/*Div Hebergements & Populaires*/
        /*Pour faire remonter les populaires au dessus*/
        .hebergements-and-populaires {
            display: flex;
            flex-direction: column-reverse;
        }

        section.hebergements-marseille {
            background-color: white;
        }

        .populaires-cards {
            display: flex;
            flex-direction: column;
        }

        .hebergements-cards {
            display: flex;
            flex-direction: column;
        }
        
/*Pour que les cards prennent toute la largeur*/
        .populaires-cards a {
            width: 100%;
        }

/*Section activités*/
        .activities {
            display: flex;
            flex-direction: column;
        }

        .activities-cards {
            width: 100%;
        }

/*Footer*/
        .footer-list {
            display: flex;
            flex-direction: column;
        }
}